body,html {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ededed+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ffffff 0%, #ededed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #ffffff 0%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #ffffff 0%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */    overflow: hidden;
    background-repeat: no-repeat;
    height: 100%;
}

.intro {
    font-family: 'Archivo Black', sans-serif;
    font-size: 100px;
    color:linear-gradient(135deg, #7f7f7f 0%,#69706c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.menu {
    align-content: center;
}