{% load staticfiles %} {% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hello</title>
    <link rel="icon" href="https://cdn130.picsart.com/267178871004211.png?r1024x1024">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href=" {% static 'css/main.css' %} " />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="{% static 'js/main.js' %}"></script>
</head>

<body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    <div class="container" style="display:none;" id="myDiv" class="animate-bottom">
        <div>
            <h6 id="theme-header">Page Theme</h6>

            <!-- Switch -->
            <div class="switch">
                <label>
                    Light
                    <input type="checkbox">
                    <span class="lever"></span>
                    Dark
                </label>
            </div>
        </div>

        <!--Accordion-->
        <div id="accordion">
            <h3>Activities</h3>
            <div>
                <p>sleep and chill</p>
            </div>
            <h3>Organization Experience</h3>
            <div>
                <ul>
                    <li>Ketua Kaderisasi Subseksi Kemasyarakatan SMAN 8 Jakarta</li>
                    <li>Staf Biro Bisnis dan Kemitraan BEM Fasilkom UI 2018</li>
                </ul>
            </div>
            <h3>Achievements</h3>
            <div>
                <p>404</p>
                <ul>
                    <li>:(</li>
                    <li>:(</li>
                    <li>:(</li>
                </ul>
            </div>
        </div>
        <a href="/books/" class="btn">A Button for Books!</a>
    </div>
</body>

</html>